<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <%- include('./patials/header') %>
    <!-- <figure class="image is-64x64"> -->
    <img
      width="100%"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtj-KlPI8phiduWQetp9m-TA8ZqgSDyrf_1w&usqp=CAU"
    />
    <!-- </figure> -->
  </body>
</html>
